.postThumb {
  width: 100%;
  overflow: hidden;
}

/* Media renderiza un <img> internamente */
.postThumb :global(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}